body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Add transparency for a semi-transparent navbar */
  padding: 10px 20px;
}

.navbar a {
  color: rgb(132, 136, 149);
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover{
  color: #f9f9f9;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}

.left a {
  display: flex;
  align-items: center;
}

.left-icon {
  height: 65px; 
  margin-right: 5px;
  margin-left: 4vw;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw; /* Adjust spacing to the right */
}

.right a {
  margin-right: 4vw; /* Adjust as needed */
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 400px; /* Ensure a minimum width */
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  border-bottom: 2px solid blueviolet;
  border-top: 2px solid blueviolet;
  /* border: 2px solid blueviolet; */
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  position: relative; /* Ensure positioning context for ::before */
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border-radius: 15px;
}

.dropdown-content a:hover{
  background-color: blueviolet;
  opacity: 0.8; /* Reduce opacity slightly */
  transform: scale(1.5); /* Scale up slightly on hover */
}

/* Arrows */

.dropbtn svg {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}

.rotate180 {
  transform: rotate(180deg);
}
